.dropdown {
    display:inline-block;
    position:relative;
    overflow:hidden;
    cursor:pointer;
    background-color:#8dc63f;
    color:white;
    line-height: 16px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family:Tahoma;
    font-size:12px;
    vertical-align: middle;
    height:17px;
    padding:5px;
}

*:first-child+html .dropdown {
    display:inline;
}

.dropdown:hover {
    background-color:#96d246;
}

.dropdown.disabled {
    background-color: #363636;
    color:#898989;
    cursor:default;
}

.dropdown-list {
    display:none;
    position:absolute;
    top:100px;
    left:10px;
    background-color:#8dc63f;
    color:white;
    font-size:12px;
    cursor:pointer;
}

*:first-child+html .dropdown-list {
    display:inline;
}

.dropdown-list.opened {
    display:block;
}

.dropdown-list .option {
    padding:3px;
    border-bottom:1px solid white;
}

.dropdown-list .option:hover {
    background-color:#96d246;
}

.dropdown-list .option.disabled {
    background-color: #363636;
    color:#898989;
    cursor:default;
}

.dd-close-list-layer {
    
}