.textbox {
    position:relative;
    overflow:visible;
    height:24px;
    display:inline-block;
    vertical-align: middle;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    color:white;
	background-color:#8dc63f;
}

*:first-child+html .textbox {
    display:inline;
}

.textbox .middle {
	position: relative;
	overflow: hidden;
	height:24px;
	padding: 0 5px;
}

.textbox.ui-txt-empty .middle {
	padding: 0 20px 0 5px;
}

.textbox input {
    background-color:transparent;
    width:100%;
    height:24px;
    padding:0;
    margin:0;
    border:0;
    display:block;
    position:relative;
	line-height:14px;
    font-size:12px;
	color:white;
}

.textbox .empty-message {
	display:none;
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	line-height:24px;
    font-size:12px;
	color:white;
	padding:0 5px;
}

.textbox.ui-txt-empty input {
	display:none;
}

.textbox.ui-txt-empty .empty-message {
	display: block;
}

.textbox .error-message {
	position: absolute;
	left:0;
	bottom:-20px;
	background-color: red;
	color:white;
	height:20px;
	width:200px;
	display:none;
}

.textbox.ui-txt-error .error-message {
	display: block;
}

.textbox .clear-txt-button {
	width:15px;
	height:15px;
	position:absolute;
	top:5px;
	right:5px;
	background-color:red;
	display:none;
}

.textbox.ui-txt-clear .clear-txt-button {
	display:block;
}

.textbox.ui-txt-empty .clear-txt-button {
	display:none;
}

.textbox.ui-txt-disabled {
    background-color: #363636;
    color:#898989;
	cursor:default;
}

.textbox.ui-txt-disabled .clear-txt-button {
	display:none;
}

.textbox.ui-txt-disabled input {
	color:#898989;
}